/*-----------------------------Modal----*/
.border-img{
    position: relative;
    text-align: center;
}

.bg-black{
    background-color: #050001;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-head{
    color: #eccb7a;
    text-decoration: none;
    font-family: 'Xanh Mono', monospace;
    text-align: center;
}

.modal-text{
    color: #eccb7a;
    font-size: 16px;
    font-family: 'Xanh Mono', monospace;
}
.modal-btn{
    color:#050001;
    background-color:#eccb7a;
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
}
.modal-btn a:visited{
    color: #050001;
}
.modal-btn a:link{
    color: #050001;
}
.modal-btn a:hover{
    color: #050001;
    text-decoration: none;
}


/*--------Header Styling---*/
.header-logo{
    width: 100%;
    max-height: 250px;
}

/*------Text style-----*/
.textStyle{
    color: #eccb7a;
    font-family: 'Xanh Mono', monospace;
}

h3 {
    text-decoration: underline;
    text-transform: uppercase;
}
/*-------Button Styling for Search Ingredients----*/
.button-styling{
    background-color:  #050001;
    color: #eccb7a;
    justify-content: center;
    font-size: 24px;
    border: none;
}

.button-styling a:visited{
    background-color: #eccb7a;
    color: #050001;
}

.ingredientThumb{
    height: 100px;
    width: 100px;
}

/* -------------Footer-styling---*/
.social{
    font-size: 46px;
    color:  #eccb7a;
}


/*----------------Media Queries-----*/

@media only screen and (max-device-width: 576px) {
    .modal-head{
        font-size: 12px;
    }
    .modal-text{
        font-size: 12px;
    }
    .modal-btn{
        font-size: 12px;
    }
    h1{
        font-size: 28px;
    }
}